@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';
@import '../../styles/breakpoints.scss';



.wrapper {
    display: flex;
    height: 86vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .formWrapper {
        display: flex;
        width: 100%;
        align-items: center;

        @media (min-width: $bp1) {
            width: 80%;
        }

        @media (min-width: $bp2) {
            height: 60%;
        }

        flex-direction: column;
        border-radius: $rounded-corners;
        padding: $spacing-m;

        .signUpLogo {
            max-width: 40%;
            margin-bottom: $spacing-m;
        }

        form {
            display: flex;
            flex-direction: column;

            .inputWrapper {
                border-bottom: 1px solid $color-primary-dark;
                margin-bottom: $spacing-s;
                input {
                    border: none;
                    background-color: $color-primary-neutral;
                    border-radius: $rounded-corners;
                    padding: $spacing-xs;
                    outline: none;
                    color: white;
                }
            }

            .loginButton {
                margin-top: $spacing-s;
                background-color: $color-button-positive-neutral;
            }
        }
    }
}