@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';
@import '../../styles/breakpoints.scss';

.wrapper {
    display: flex;
    height: 86vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .formWrapper {
        display: flex;
        width: 40%;
        flex-direction: column;
        background-color: $color-primary-light;
        border-radius: $rounded-corners;
        padding: $spacing-m;
        form {
            display: flex;
            flex-direction: column;
            input {
                border: none;
                border-radius: $rounded-corners;
                padding: $spacing-xs;
            }
            .loginButton {
                margin-top: $spacing-s;
                background-color: $color-button-positive-neutral;
            }
        }
    } 
}