@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: $spacing-s;
    
}
label {
    margin-bottom: $spacing-s;
}
.fullsize {
    width: 100%;
}
.halfsize {
    width: 50%;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
    margin: $spacing-s;
}

input textarea {
    border-radius: $input-border-radius;
}

textarea {
    resize: none;
    outline: none;
}

.suggestionWrapper {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}