@import './styles/colors.scss';
@import './styles/sizes.scss';

.app {
    color: $color-text-white;
    background-color: $color-primary-neutral;
}
.appBody {
    margin: auto;
    max-width: 1400px;
    padding: 4vw;
}