@import './styles/colors.scss';
@import './styles/sizes.scss';

.app {
    color: $color-text;
    background-color: $color-secondary;
    height: 100vh;
}
.appBody {
    margin: auto;
    max-width: 1400px;
    padding: 4vw;
}