@import './styles/colors.scss';
@import './styles/sizes.scss';
@import './styles/breakpoints.scss';

body {
    background-color: $color-primary-neutral;
    min-height: 100vh;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-text-white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-text-white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-text-white;
}

.app {
    color: $color-text-white;
    background-color: $color-primary-neutral;
    min-height: 100vh;
}

.appBody {
    max-width: 1400px;
    padding: 0 $spacing-xs;
    min-height: 95vh;
    @media (min-width: $bp1) {
        padding: 0 $spacing-l;
    }

    @media (min-width: $bp2) {
        padding: 0 10vw;
    }

    @media (min-width: $bp3) {
        padding: 0 12vw;
    }
}