@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';
@import '../../styles/breakpoints.scss';

.wrapper {
    display: flex;
    align-self: center;
    width: 100%;

    .input {
        width: 100%;
        padding: $spacing-xs;
        outline: none;
        border: none;
        background-color: $color-text-white;
        border-radius: $rounded-corners 0 0 $rounded-corners;

        @media (min-width: $bp2) {
            padding: $spacing-s;
        }
    }

    .button {
        padding: $spacing-xs;
        background-color: $color-button-positive-neutral;
        border-left: none;
        outline: none;
        border-radius: 0 $rounded-corners $rounded-corners 0;

        @media (min-width: $bp2) {
            padding: $spacing-s;
        }
    }
}