@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.wrapper {
    display: flex;
    align-self: center;
    width: 100%;
    .input {
        width: 100%;
        border-right: none;
        outline: none;
        border-left: none;
        border: none;
        padding: $spacing-s;
        border-radius: 6px 0 0 6px
    }
    
    .button {
        padding: $spacing-s;
        background-color: $color-third;
        border-left: none;
        outline: none;
        border-radius: 0 5px 6px 0;
    }
}
