@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.textbar-with-button-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.textbar-with-button-input {
    border-right: none;
    outline: none;
    border: 1px solid $color-button-text-light;
    border-left: none;
    padding: $spacing-s $spacing-l;
    background: $color-button-background-dark;
    color: $color-button-text-light;
    // border-radius: 4px 0 0 4px;
}

.textbar-with-button-button {
    padding: $spacing-s $spacing-l;
    border-left: none;
    border: 1px solid $color-button-text-light;
    outline: none;
    border: none;
    background: $color-button-background-dark;
    // border-radius: 0 4px 4px 0;
    color: $color-button-text-light;
}