@import '../../styles/sizes.scss';
@import '../../styles/colors.scss';

.wrapper {
    background-color: $color-primary-dark;
    margin-top: $spacing-l;
    .imageWrapper {
        height: 10rem;
    }
}
