@import '../../styles/sizes.scss';
@import '../../styles/colors.scss';

.wrapper {
    background-color: $color-primary-neutral;
    height: 70vh;
    padding: 0 $spacing-s;
    display: flex;
    align-items: center;
    justify-content: center;
    .slideWrapper {
        width: 90%;
    }
    .imageWrapper {
        height: 10rem;
    }
}
