@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';


.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    border-radius: 5px;
    background-color: $color-fifth;
    color: $color-text-dark;
    padding: 5px;
    margin-bottom: 1rem;
    h3 {
        margin: auto;
    }
}