@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

button {
    border: none;
    color: $color-button-text-light;
    border-radius: 2em;
    padding: 1.3rem $spacing-xl;
    font-size: 1.3rem;
    &.active {
        
    }
    &.inactive {
        background-color: $color-button-background-dark;
    }
}
