@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    color: $color-text-white;
    cursor: pointer;
    margin-top: -1rem;
}

#innerWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: -3px;
}

.icon {
    margin: 0;
    font-size: 2rem;
    color: $color-logo;
}

h1 {
    font-size: 1rem;
    margin: 0;
}

p {
    font-size: 0.6rem;
    margin: 0;
}