@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.active {
    cursor: pointer;
    margin: auto;

}
.inactive {
    cursor: auto;
    color: $color-accent-light;
    margin: auto;
}
.disabled {
    display: none;
}