@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';
@import '../../styles/breakpoints.scss';

.wrapper {
    bottom: 0;
    position: absolute;
    margin-top: $spacing-l;
    padding: $spacing-s;
    line-height: 0;
    a {
        color: $color-text-white;
        font-size: 0.6rem;
    }
    p {
        font-size: 0.6rem;
    }
}