@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';
@import '../../styles/breakpoints.scss';

.wrapper {
    bottom: 0;
    position: absolute;
    margin-top: $spacing-l;
    padding: $spacing-s;
    a {
        color: $color-text-white;
    }
}