@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.card {
    background-color: $color-third;
    padding: $spacing-s;
    margin: 0.5rem;
    border-radius: 6px;
}

p {
    margin: 0;
}