@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.wrapper {
    .imageWrapper {
        position: relative;
        text-align: center;
        
    }
    .title {        
        color: $color-third;
        background-color: red($color: #000000);
        
    }
    .description {
        font-size: large;
    }
}