@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';
@import '../../styles/breakpoints.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    .infoWrapper {
        display: flex;
        flex-direction: row;
        background-color: $color-secondary-dark;
        color: $color-text-dark;
        border-radius: $rounded-corners;
        
        .contentWrapper {
            flex: 3;
            
            padding: $spacing-s;
            background-color: $color-secondary-light;
            border-radius: $rounded-corners;
        }
        .imageWrapper {
            flex: 2;
            padding: $spacing-s;
        }
    }

    .barWrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: $spacing-s;
        margin-top: $spacing-s;
        border-radius: $rounded-corners;
        background-color: $color-primary-light;
        padding-top: $spacing-s;

        .leftColumn {
            text-align: center;
            flex: 1;
            height: 30vh;

            @media (min-width: $bp1) {
                height: 50vh;
            }

            @media (min-width: $bp2) {
                height: 60vh;
            }

            overflow: hidden;
            border-radius: $rounded-corners 0 0 $rounded-corners;

            .leftWrapper {
                background-color: $color-primary-light;
                border-right: 1px solid $color-primary-dark;
                display: flex;
                height: 100%;
                flex-direction: column;
                overflow: scroll;
                border-radius: $rounded-corners 0 0 $rounded-corners;
                padding: $spacing-xs;
                -ms-overflow-style: none;
                /* IE and Edge */
                scrollbar-width: none;

                /* Firefox */
                ::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .rightColumn {
            text-align: center;
            flex: 1;
            height: 30vh;

            @media (min-width: $bp1) {
                height: 50vh;
            }

            @media (min-width: $bp2) {
                height: 60vh;
            }

            overflow: hidden;
            border-radius: $rounded-corners $rounded-corners $rounded-corners 0;

            .rightWrapper {
                border-radius: 0 $rounded-corners 0 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: $color-primary-light;
                overflow: scroll;
                padding: $spacing-xs;
                // Hide scroll bar
                -ms-overflow-style: none;
                /* IE and Edge */
                scrollbar-width: none;

                /* Firefox */
                ::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }


    .nextButton {
        background-color: $color-button-positive-neutral;
        color: $color-text-white;
        align-self: center;
    }

    .nextButton:hover {
        background-color: $color-button-positive-dark;
    }

}