@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    padding: $spacing-s;
    .barWrapper {
        display: flex;
        flex-direction: row;

        .leftColumn {
            text-align: center;
            flex: 1;
            height: 40vh;
        }
    
        .leftWrapper {
            background-color: $color-secondary;
            border-right: 1px solid $color-fifth;
            display: flex;
            border-radius: 6px 0 0 6px;
            flex-direction: column;
            height: 100%;
            overflow: scroll;
            padding: $spacing-s;

            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            ::-webkit-scrollbar {
                display: none;
            }
        }
    
    
        .rightColumn {
            text-align: center;
            height: 40vh;
            flex: 1;
        }
    
        .rightWrapper {
            display: flex;
            flex-direction: column;
            background-color: $color-secondary;
            border-left: 1px solid $color-third;
            height: 100%;
            overflow: scroll;
            padding: $spacing-s;
            border-radius: 0 6px 6px 0;

            // Hide scroll bar
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            ::-webkit-scrollbar {
                display: none;
            }
        }
    
    }


    .nextButton {
        border: none;
        border-radius: 6px;
        background-color: $color-third;
        color: $color-text-white;
        padding: $spacing-s;
        margin-top: 5rem;
        align-self: center;
        font-size: large;
        
    }

}