@import '../../styles/sizes.scss';
@import '../../styles/colors.scss';

.wrapper {
    display: flex;
    flex-direction: row;
}
.info {
    width: 30%;
    padding: 1rem;
}
.main {
    width: 100%;
    background-color: $color-primary-light;
    border-radius: $rounded-corners;
}