@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.header {
  background-color: $color-secondary;
  padding: $spacing-xs 0;
  box-sizing: border-box;
  padding-top: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hamburger {
  color: $color-text;
  border: none;
  background-color: transparent;
  span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: $color-text;
    border-radius: 3px;
  }
}


.menu {
  background: $color-text;
  font-family: "Avenir Next", "Avenir", sans-serif;
  text-align: center;
  a {
    text-decoration: none;
    color: #232323;
  }
  a:hover {
    background-color: tomato;
    color: #232323;
  }
}
