@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';


.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: $rounded-corners;
    background-color: $color-primary-light;
    margin-bottom: $spacing-xs;
    color: $color-text-white;
    .imageContainer {
        img {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            border-radius: $rounded-corners 0 0 $rounded-corners;
        }
    }
    .itemContainer {
        margin: auto;
    }
}