@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';


.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: $rounded-corners;
    color: $color-text-dark;
    margin-bottom: $spacing-xs;
    height: 3rem;
    color: $color-text-white;
    .imageContainer {
        img {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
        }
    }
    .itemContainer {
        margin: auto;
    }
}