.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .topWrapper {
        position: absolute;
        top: 20vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        left: 1.6rem;
    }

    .bottomWrapper {
        position: absolute;
        bottom: 20vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        left: 1.6rem;
    }

}