@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $spacing-m;

    .leftColumn {
        text-align: center;
        position: absolute;
        top: 20vh;
        left: 2vw;
        height: 60vh;
        width: 48vw;
    }

    .leftWrapper {
        background-color: $color-secondary;
        border-right: 1px solid $color-fifth;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 100%;
    }


    .rightColumn {
        position: absolute;
        top: 20vh;
        right: 2vw;
        width: 48vw;
        height: 60vh;
        text-align: center;       
    }

    .rightWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: $color-secondary;
        border-left: 1px solid $color-third;
        height: 100%;
    }

    .nextButton {
        border: none;
        border-radius: 6px;
        background-color: $color-sixth;
        color: $color-text;
        padding: $spacing-s;
        bottom: 4vh;
        position: absolute;
    }

}