@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

button {
    border: none;
    
    border-radius: 2rem;
    padding: $spacing-s $spacing-l;
    &.active {
        
    }
    &.inactive {
    
    }
}
