$color-main: rgb(208, 208, 208);
$color-secondary: #86a4b7;
$color-third: #b4d3b2;
$color-fourth: #cbd8e0;
$color-fifth: rgb(255, 249, 241);
$color-sixth: #dedcdc;
$color-logo: #fa98aa;
$color-text: #fafafa;
$color-text-dark: #424242;