$color-main: rgb(208, 208, 208);
$color-secondary: #86a4b7;
$color-third: #b4d3b2;
$color-fourth: #cbd8e0;
$color-fifth: rgb(255, 249, 241);
$color-sixth: #dedcdc;


$color-primary-light: #99b3c2;
$color-primary-neutral: #80a0b3;
$color-primary-dark: #6b92aa;

$color-secondary-neutral: #f6feaa;
$color-secondary-light: #f8fec2;
$color-secondary-dark: #f4fe9a;

$color-accent-neutral: #ef767a;
$color-accent-light: #f29195;
$color-accent-dark: #ee6d71;

$color-button-neutral: #ffffff;

$color-button-positive-neutral: #d7ffb8;
$color-button-positive-dark: #d1ffad;

$color-button-negative-neutral: #ffc8c8;
$color-button-negative-dark: #ffc2c2;

$color-text-white: #fafafa;
$color-text-dark: #424242;

$color-logo: #f29195;